/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-feb-2016, 0:11:00
    Author     : Ernesto
*/
body {
    font-family: 'Lato';
    background-image: url('../img/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.cabecera-menu{
    background-color: rebeccapurple;
}
