/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-feb-2016, 0:11:00
    Author     : Ernesto
*/
body {
    font-family: 'Lato';
    background-color:black !important;
    background-image: url('../img/background.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}

/*---Cabecera y Menú ----*/
.cabecera-menu{
    background-color: #215891;
    height: 100px;
}
.logo-cabecera{
    margin-top:10px;
}
.centro-logo-cabecera{
    color:white;
    font-family: 'Lato';
    margin-left:10px;
    margin-top:15px;
    font-size: 2em;
}
.centro-logo-collapse{
    width: 95px;
    position:relative;
    top:-13px;
}
.glyphicon{
    margin-right: 5px;
}
.breadcrumb{
    background-color: #215891;
    margin-bottom: 0px;
    border-radius: 0px;
}
.breadcrumb li a{
    color: #b6b6b6;
}
.breadcrumb .active{
    color: #f2cf3d;
}

@media (max-width: 768px) {
    .cabecera-menu {
        display: none;
    }
    .navbar-brand{
        display:inline;
    }
}
@media (min-width: 768px) {
    .navbar-brand{
        display:none;
    }
}
/*--- Contendio ----*/

section{
    background-color: white;
    padding: 20px;
    padding-top: 30px;

}
.titulo{
    border-bottom: solid 3px #f2c53d;
    color:whitesmoke;
    background-color: #215891;
}
.titulo h1{
    margin-top:0px;
    text-align: right;
    font-size:1.5em;
}
.titulo h1:before{
    content: url(../img/aptiza_logo_check.png);
}
.articulo > h4{
    margin: 30px 0px 30px 0px;
}
.articulo  li{
    margin-bottom: 40px;
}
.articulo-fondo{
    background-color: #215891;
    color:white;
    font-weight:lighter;
}
article{
    margin-bottom: 10px;
} 
@media screen and (max-width: 765px){
    body{
        background-size: auto;
    }
}
