/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-feb-2016, 0:11:00
    Author     : Ernesto
*/
html{
    height: 100%;
}
body {
    font-family: 'Lato';
    margin-top: 20px;
    height: 100%;
    background-color: #eeeeee ;
    background-image: url('../img/background_color.jpg');
    background-size:cover;
    background-repeat: no-repeat;
}
.cuerpo{
    border: 5px solid black;
    box-shadow: 0px 5px 10px black;
}

/*---Cabecera y Menú ----*/
.cabecera-menu{
    height: 100px;
}
.logo-cabecera{
    width: 300px;
}
.centro-logo-cabecera{
    color:white;
    font-family: 'Lato';
    margin-left:10px;
    margin-top:15px;
    font-size: 2em;
}
.centro-logo-collapse{
    width: 95px;
    position:relative;
    top:-13px;
}
.glyphicon{
    margin-right: 5px;
}
.menu{
    padding: 0px ;
}
.breadcrumb{
    background-color: #215891;
    margin-bottom: 0px;
    border-radius: 0px;
}
.breadcrumb li a{
    color: #b6b6b6;
}
.breadcrumb li:last-child{
    color: #f2cf3d;
}

/*--- Contendio ----*/

section{
    background-color: white;
    padding: 20px;
    padding-top: 30px; 
}
.titulo{
    border-bottom: solid 3px #f2c53d;
    color:whitesmoke;
    background-color: #215891;
    padding-top: 15px;
    padding-left: 50px;
}
.titulo h1{
    margin-top:0px;
    text-align: left;
    font-size: 2.5em;
}
.titulo h1:before{
    content: url(../img/aptiza_logo_check.png);
}
.articulo > h4{
    margin: 30px 0px 30px 0px;
}
.articulo  li{
    margin-bottom: 40px;
}
.articulo-fondo{
    background-color: #215891;
    color:white;
    font-weight:lighter;
}
article{
    margin-bottom: 10px;
} 
footer{
    background-color: #215891;
   
  position:fixed;
  bottom:0px;
  width:100%; /* cause of fixed pos */
  height:40px;
}
@media screen and (max-width: 765px){
    body{
        background-size: auto;
    }
}
@media (max-width: 768px) {
    body{
       margin-top:0px;
    }
    .cabecera-menu {
        display: none;
    }
    .navbar-brand{
        display:inline;
    }
    .titulo{
        padding-top: 10px;
        padding-left: 10px;
    }
}
@media (min-width: 768px) {
    .navbar-brand{
        display:none;
    }
}
